/* Styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #1c1c1e; /* Fond noir profond */
    color: #e1e1e1; /* Texte gris clair */
    background: linear-gradient(180deg, #1c1c1e, #2d2d30);
}

/* Header */
header {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px; /* Ajout d'un arrondi pour le fond */
    background-color: #6b46c1; /* Fond violet */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombre pour effet de profondeur */
}

header .veille-title {
    color: white; /* Texte blanc */
    font-size: 2rem;
    text-shadow: 0 0 5px #9f7aea;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Section contenant les cartes */
.cards {
    width: 100%; /* Laisse les cartes occuper toute la largeur disponible */
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* S'adapte à la taille de l'écran */
    gap: 20px;
    padding: 20px;
}

/* Style des cartes */
.card {
    background-color: #3a3a40;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Titre des cartes */
.card h3 {
    color: #9f7aea;
    font-size: 1.4rem;
    margin-bottom: 15px;
    text-shadow: 0px 0px 5px #9f7aea;
    text-align: center;
}

/* Liste dans les cartes */
.card ul {
    list-style: none; /* Supprime les puces */
    padding: 0;
    margin: 0;
}

.card ul li {
    font-size: 1rem;
    color: #cfcfcf;
    line-height: 1.6;
    margin-bottom: 10px;
    padding-left: 10px;
    position: relative;
}

.card ul li::before {
    content: '•'; /* Ajout d'une puce personnalisée */
    color: #6b46c1; /* Couleur violette */
    position: absolute;
    left: 0;
    font-size: 1.2rem;
    line-height: 1.2;
}

/* Responsive pour les cartes */
@media screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajustement pour les écrans plus petits */
    }

    header .veille-title {
        font-size: 1.5rem;
    }
}
